.answer{
    display: grid;
    grid-template-columns: 12fr;
    align-items: center;
}
.answer p{
    color: #FFF;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.17px;
    text-align: center;
}
@media screen and (min-width: 992px){
    .answer p{
        font-size: 20px;
    }
}