.check{
    background-color: #EFEFEF;
    min-height: 100vh;
}
.check > div:nth-child(2){
    padding: 0 20px;
}
.achievement{
    background-color: #FFF;
    padding: 10px 20px;
    max-width: 150px;
    text-align: center;
    color: #000;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    border-radius: 5px;
    margin-top: 20px;
    position: relative;
    left:100%;
    transform: translateX(-100%);
    border: 1px solid rgb(0, 0, 0,0.25);
}
.check .tool-check{
    height: 70px;
    background-color: #FFF;
}
.check .question-check{
    margin: 70px 20px 20px 20px;
    display: flex;
    align-items: center;
}
.check .question-check p{
    text-align: center;
    color: #000;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.48px;
}
.check .answer-check{
    margin:20px;
    display: grid;
    row-gap: 20px;
    position: relative;
}
.check .answer-check > div{
    width: 100%;
    min-height: 70px;
    display: grid;
    align-items: center;
    padding: 0 20px;
    border-radius: 5px;
    word-break: break-all;
    position: relative;
    cursor: pointer;

}
.check .answer-check > div:hover::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0,0.1);
    z-index: 1;
}
.check .answer-check > div:nth-child(1){
    background: #4CD948;
}
.check .answer-check > div:nth-child(2){
    background: #DAC24A;
}
.check .answer-check > div:nth-child(3){
    background: #5A86BF;
}
.check .answer-check > div:nth-child(4){
    background-color: #F24B4B;
}
.check .answer-check > div:nth-child(5){
    background-color: #9a4292;
}
.check .answer-check > div:nth-child(6){
    background-color: #d5546d;
}
.check .answer-check > div:nth-child(7){
    background-color: #2d9da6;
}

.check .answer-check > div > div > p{
    position: relative;
    color: #FFF;    
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.28px;
    overflow-wrap: break-word;
    width: 100%;
}

@media screen and (min-width:576px) {
    .check .question-check{
        margin: 70px 100px;
    }
    .check .answer-check{
        margin: 50px 100px;
        display: grid;
        grid-template-columns: 6fr 6fr;
        column-gap: 20px;
    }
    .check .question-check{
        justify-content: center;
    }
    .check .answer-check > div{
    height: 150px;
    position: relative;
    }
    .check .answer-check > div > div{
        width: 100%;
        height: 73%;
        margin: 20px 0;
        position: relative;
        overflow: scroll;
        display: flex;
        align-items: center;
    }
    .check .answer-check > div > div > p{
        font-size: 20px;
        font-weight: 500;
        z-index: 22;
        margin: 0;
        color: #ffffff;
        letter-spacing: 0.3px;
    }
    .check .answer-check > div::before{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgb(0, 0, 0,0.05);
        z-index: 1;
    }
    .check .question-check p{
        min-height: 200px;
        display: flex;
        align-items: center;
        font-size: 32px;
    }
}