.main-button{
    display: none;
}
.head-main{
    display: grid;
    padding-top: 5rem;
}
.head-main > div{
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0 20px 0 20px;
}
.head-main > div > h3{
    color: #FFF;
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 1.28px;
    margin: 0;
    -webkit-text-stroke: 1px #000;
}
.head-main > div > h2{
    color: #000;
    font-family: 'Poppins';
    font-size: 37px;
    font-weight: 900;
    letter-spacing: 1.92px;
    margin: 0;
}
.head-main > p{
    margin: 40px 20px 0 20px;
    color: rgba(30, 41, 59, 0.80);
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 500;
}
@media screen and (min-width : 576px){
    .head-main {
        padding-top: 28rem;
    }
    .head-main > div{
        margin: 0 50px 0 50px;
    }
    .head-main > div > h3{
        font-size: 48px;
    }
    .head-main > div > h2{
        font-size: 64px;
    }
    .head-main > p{
        margin: 40px 50px 0 50px;
        font-size: 20px;
    }
}
@media screen and (min-width : 992px){
    .head-main{
        display: grid;
        grid-template-columns: 5fr 5fr 2fr;
        margin: 0 50px;
        column-gap: 20px;
        padding-top: 10rem;
    }
    .head-main > p{

        grid-column-start: 1;
        margin: 0;
        font-size: 18px;
    }
    .head-main > div{
        grid-column-start: 2;
        margin: 0;
        transform: translateY(-30%);
    }
    .head-main > div > h3{
        font-size: 40px;
    }
    .head-main > div > h2{
        font-size: 64px; 
    }
    .main-button{
        display: block;
        width: 180px;
        height: 120px;
        background: #F24B4B;
        color: #FFF;

        font-family: 'Poppins';
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1.12px;
        position: relative;
    }
    .main-button::after{
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #FFFFFF;
        border-radius: 50%;
        left:-5px;
        top:50%;
        transform: translateY(-50%);
    }
    .main-button::before{
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: #F24B4B;
        border-radius: 50%;
        left:50%;
        top:85%;
        transform: translateX(-50%);
    }
}
@media screen and (min-width: 1200px) {
    .head-main{
        width: 1180px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(12,80px);
        column-gap: 20px;
        padding-top: 22rem;
    }
    .head-main p{
        grid-column-start: 1;
        grid-column-end: 6;
    }
    .head-main div{
        grid-column-start: 6;
        grid-column-end: 11;
    }
}