.register{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register form{
    margin: 0 20px;
    width: 100%;
    display: grid;
    max-width: 440px;
}
.register form h1{
    color: #000;
    text-align: center;
    font-family: 'Roboto Slab';
    font-weight: 700;
    letter-spacing: 1.12px;
}
.register form div{
    display: grid;
    margin-bottom: 10px;
}

.register form div input{
    box-sizing: border-box;
    height: 45px;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.70);
    background: #FFF;
    outline: none;
   
    color: rgba(0, 0, 0, 0.70);
    padding-left: 20px;
    font-size: 16px;
}
.register form div label:nth-child(3){
    font-size: 14px;
    color: #F24B4B;
    letter-spacing: 0;
    display: flex;
    align-items:self-start;
    column-gap: 10px;
    justify-content: flex-end;
}
.register form div label{
    color: rgba(0, 0, 0, 0.70);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.64px;
}
.register form button{
    height: 50px;
    border-radius: 5px;
    background: #F24B4B;
    color: #FFF;
    font-family: 'Roboto Slab';
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.72px;
    border: none;
    margin-top: 20px;
}
.register form p{
    color: #000;

    text-align: center;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.72px;
    margin-top: 30px;
}
@media screen and (min-width: 576px){
    .register form{
        grid-template-columns: 6fr 6fr;
        column-gap: 30px;
    }
    .register form h1{
        grid-column: span 2;
    }
    .register form div{
        grid-column: span 2;
    }
    .register form button{
        grid-column: span 2;
    }
    .register form p{
        grid-column: span 2;
    }
}